	#myProfileImage{
    display: none;
    position: absolute;
    top: 150px;
    left: calc( 50% - 200px);
    border: 1px solid #999;
    background: #fff;
    box-shadow: 1px 1px 10px #aaa;
  }
input[name="uploadfile"]{width: 400px;
    display: block;
    height: 300px;
    background: #eee;
    border: dashed;}
.plh{position: absolute;
    top:170px;
    text-align: center ; 
    width: 400px;
}
#showImage{
    position: absolute;
    top: 130px;
    left: 190px;
} 
#see img
,#hide img
{
    position: relative;
    top: 11px;
    cursor: pointer;
    width: 28px;
}
#hide{display: none;}
.cpswd{border: none;background-color: #fff;}